
.contact1 {
    display: flex;
    text-align:justify;
    padding-top: 7em;
    background-color: #EBF0F9;
    height: 420px;
    padding-left: 8em;
    padding-right: 8em;
}

.contact-container {
    width: 50%;
}


.contact-container p {
    font-size: 14px;
}
.contact-container h1 {
    font-size: 36px;
}
.contact-container ul{
    list-style-type: none;
    margin-left: 3rem;
    padding: 0;
}

.contact-container ul li {
    font-weight: bold;
}

.contact-container ul li + p {
    margin-top: 0.5rem;
 
}

.container hr{
    width: 50%;
    margin: 0;
}

.social-links {
    display: flex;
    justify-content: left;
    align-items: left;
}

.social-links img {
    width: 30px; 
    margin-left: 1px; 
}


.contact-form {
    max-width: 600px;
    margin: 5rem auto;

} 


@media ( 500px <= width <= 765px){
    .contact1{
        padding-right: 6em;
        padding-left: 6em;
    }

    .contact-container h1 {
        font-size: 32px;
    }
    .contact-form {
        padding-left: 2em;
        padding-right: 2em;
    }
}


@media ( 350px <= width <= 500px){
    .contact1{
        padding-right: 4em;
        padding-left: 4em;
    }

    .contact-container h1 {
        font-size: 24px;
    }
    
.contact-container p {
    font-size: 12px;
}
.contact-container ul{
    list-style-type: none;
    margin-left: 2rem;
    padding: 0;
}
.contact-form {
    padding-left: 2em;
    padding-right: 2em;
}

}


