/* .contact {
    padding-top: 10rem;
    display: flex;
    background-color: #EBF0F9;
    height: 25rem;
    width: 100%;
}

.container {
    margin-left: 1rem;
    flex: 0 0 45%;
    text-align: justify;
    margin-left: 5rem;
}

.container li {
    list-style: none;
    font-weight: bold;
}


 */
 .contact {
    display: flex;
    justify-content: space-around;
    background-color: #EBF0F9;
    padding-top: 8rem;
    height: 20rem;
}

.container {
    width: 50%;
    text-align: justify;
    margin-left: 9rem;
}

.container p {
    font-size: 14px;
}
.container h1 {
    font-size: 36px;
}

.container h4 {
    margin-top: 0;
}

.container ul {
    list-style-type: none;
    margin-left: -3rem;
    padding: 0;
}

.container ul li {
    font-weight: bold;
}

.container ul li + p {
    margin-top: 0.5rem;
 
}

.container hr{
    width: 50%;
    margin: 0;
}

.social-links {
    display: flex;
    justify-content: left;
    align-items: left;
}

.social-links img {
    width: 30px; /* Adjust the size of the social media icons */
    margin-left: 1px; /* Add some spacing between the icons */
}
